.menu {
    display: flex;
  justify-content: center;
  gap: 30px;
  font-size: 30px;
  margin-top: 100px;
  height: 30px;
  
  
}
.inicial{
    display: flex;
    justify-content: center;
    background-color: cornflowerblue;
    width: 100px;
    text-align: center;
    height: 70px;  
}
.serviços{
    display: flex;
    justify-content: center;
    background-color: cornflowerblue;
    width: 100px;
    text-align: center;
    height: 70px;  
}
.parceiros {
    display: flex;
    justify-content: center;
    background-color: cornflowerblue;
    width: 150px;
    text-align: center;
    height: 70px;  
}
.cliente{
    display: flex;
    justify-content: center;
    background-color: cornflowerblue;
    width: 100px;
    text-align: center;
    height: 70px;  
}
.contato{
    display: flex;
    justify-content: center;
    background-color: cornflowerblue;
    width: 100px;
    text-align: center;
    height: 70px;  
}
.inicial:hover{
    background-color: grey;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}
.serviços:hover{
    background-color: grey;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}
.parceiros:hover{
    background-color: grey;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}
.cliente:hover{
    background-color: grey;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}
.contato:hover{
    background-color: grey;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}